<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://img.freepik.com/free-photo/top-view-alphabet-letters-education-day_23-2149240996.jpg?w=2000">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
    <title>About Us</title>
    <style>
        .img1{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            margin-left:15px
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">

            <a class="navbar-brand" href="/">TextUtils.in</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/Navigation">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to our About Section!</strong> Know Us in a better way 😍
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container">
        <p class="pera">
            Are you grappling with unruly text that needs refining and counting? Do you yearn for a convenient solution that not only transforms your text but also provides character count insights? Look no further! TextUtils.in is your one-stop destination for all things text-related.<br>

            At TextUtils.in, we understand that text management goes beyond mere formatting. Whether you need to clean up your content, convert it to uppercase, remove extra spaces, eliminate new lines, or count characters, we've got you covered.<br>

            <b>Our Features:</b><br>

            1. Punctuation Remover: Bid farewell to pesky punctuation marks that clutter your text. Our punctuation remover tool will whisk away those distracting commas, periods, and exclamation marks with a single click.<br>

            2. Text Uppercase Converter: Need your text in ALL CAPS? Convert your lowercase text into uppercase effortlessly. Perfect for creating attention-grabbing headers or emphasizing critical information.<br>

            3. Extra Space Remover: Extra spaces can make your text appear unprofessional and challenging to read. Our extra space remover will tidy up your text by eliminating unnecessary gaps between words and sentences.<br>

            4. New Line Remover: Multiple line breaks can make your text look disorganized. Our new line remover will streamline your content by eliminating excessive line breaks and ensuring a consistent flow.<br>

            5. Character Counter: Curious about the character count of your text? Our character counter tool provides an instant and accurate analysis, helping you keep tabs on the length of your content.<br>

            <b>How TextUtils.in Works:</b><br>

            Using TextUtils.in is a breeze:<br>

            1. Input Your Text: Simply paste or type your text into our user-friendly interface.<br>

            2. Choose Your Transformation: Select the transformation or analysis option you require from our convenient menu.<br>

            3. Count Characters: Hit the appropriate button, and you're done! Your transformed text is ready for use, or you can instantly view the character count.<br>

            <b>Why Choose TextUtils.in?</b><br>

            <u>Efficiency:</u>  Save valuable time by automating text transformations and obtaining character count insights with ease.<br>

            <u>Accuracy:</u>  Our tools are designed to provide precise results, ensuring your text is pristine and error-free.<br>

            <u>Accessibility:</u>  TextUtils.in is accessible to everyone, catering to students, professionals, and text enthusiasts alike.<br>

            <u>No Downloads:</u>  TextUtils.in is an online solution, eliminating the need for downloads or installations. Access it from anywhere with an internet connection.<br>

            <u>Free and Easy:</u>  TextUtils.in is completely free to use, with no hidden fees or subscriptions. We believe in making text improvement and analysis accessible to all.<br>

            <b><br>Ready to elevate your text and gain character count insights? Try TextUtils.in now and experience the convenience of comprehensive text management. Say goodbye to text problems and hello to text excellence and analysis!</b>
        </p>

        <form action="/thanks" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><b>Please Share your experience with us</b></label>
                <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
            <input  class="btn btn-primary" type="reset" value="Submit">
            <br>
            <div class="img1">
                <a href="https://www.google.co.in/" target="_blank"><img  src="https://cdn-icons-png.flaticon.com/128/2702/2702602.png" alt="Google" height="30px" width="30px"></a>
                <a href="https://www.facebook.com/profile.php?id=100022326970621" target="_blank"><img  src="https://cdn-icons-png.flaticon.com/128/2626/2626269.png" alt="facebook" height="30px" width="30px"></a>
                <a href="https://github.com/Sourav356" target="_blank"><img  src="https://cdn-icons-png.flaticon.com/128/10090/10090288.png" alt="Github" height="30px" width="30px"></a>
                <a href="https://www.linkedin.com/in/sourav-mallick-3a9774210/" target="_blank"><img  src="https://cdn-icons-png.flaticon.com/128/1377/1377213.png" alt="Linkedin" height="30px" width="30px"></a>
                <a href="https://www.instagram.com/souravmallick342/" target="_blank"><img  src="https://cdn-icons-png.flaticon.com/128/4138/4138124.png" alt="Instagram" height="30px" width="30px"></a>
            </div>
        </form>
    </div>
</body>
</html>